// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

//$primary: #B98B82; // Verde pino (rústico, natural)
$primary: #B22222;
$complement: rgb(245, 166, 35); // Amarillo mostaza (calidez, contraste)
$secondary: rgb(44, 44, 44); // Marrón cuero (robusto, terroso)

$theme-colors: (
    "primary": $primary,
    "complement": $complement,
    "secondary": $secondary
);


$navbar-dark-color: rgba(#f5f5f5, .9);
$navbar-toggler-padding-x: 0;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-toggler-font-size: 1.8rem;

@import "./../bootstrap/scss/bootstrap";

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: $secondary;
    background-color: #FFF; // Fondo blanco para resaltar elegancia
}

.section {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: 'Playfair Display', serif;
    font-family: 'Lilita One', cursive;
    color: $secondary;
    line-height: 1.3;
}


p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $secondary;
}

a {
    color: $complement;
    text-decoration: none;
    transition: color 0.3s ease;

    // &:hover {
    //     color: $primary;
    // }
}




// Generico

.py-7{
    padding: 64px 0;
}

.object-fit {
    height: 300px;
    min-width: 100%;
    object-fit: cover;
}


#map {
    height: 300px;

    @include media-breakpoint-up(md) {
        height: 450px;
    }
}


.card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


@include media-breakpoint-up(lg) {

    .w-lg-auto {
        width: inherit;
    }
}


.vibrar {
    animation: vibrar 0.5s ease-in-out 1;
}

@keyframes vibrar {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}


/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
    // content: "" !important; 
}

.swiper-button-next:after,
.swiper-button-prev:after {
    background-color: $white;
    color: $primary;
    width: initial;
    height: initial;
    font-size: 2rem !important;
    display: none;
    padding: .2rem;

    @include media-breakpoint-up(lg) {
        display: block;

    }
}

.swiper-pagination-bullet {
    background-color: hsl(212, 32%, 40%) m !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: $primary !important;
}



// End Generico



// Navbar

.navbar {

    .navbar-brand {
        font-size: 1.5em;
    }

    .navbar-toggler {
        box-shadow: none !important;
        border: none;
    }


    .nav-link {
        font-size: 1.2em;

        &:hover {
            color: $white;
        }
    }
}

// End Navbar


// Header

.header {

    // margin-top: 80px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(./../img/hamburger.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero {
        height: 600px;
    }

}

// End Header


// Why

.why {}

// End Why



// Offer

.offer {

    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(./../img/hamburger.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .content {
        // height: 370px;
    }
}


// End Offer


// Menu item

.menu-item {
    .card {
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

        img {
            height: 250px;
        }
    }


}

// End Menu item


// Menu

.menu {
    .card {
        border: none;
        height: 400px; // Altura de la tarjeta

        img {
            width: 100%;
            height: 250px;
        }


    }

    .card-img-top {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); // Opacidad sobre la imagen
    }

    .control {
        width: auto;
        // box-shadow: rgba(44, 44, 44, 0.3) 0px 0px 0px 3px;
        //box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        //box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}

// End Menu




.parallax-section {
    position: relative;
    height: 500px; // Altura de la sección
    background: url('./../img/tacos2.jpg') no-repeat center center; // Reemplaza con tu imagen
    background-attachment: fixed; // Activa el efecto parallax
    background-size: cover; // Asegura que cubra todo el área
    background-position: center;
}

.parallax-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Opacidad sobre la imagen
    padding: 2rem; // Espaciado para texto
}



// Button WathSap

.whatsapp-button {
    position: fixed;
    bottom: 30px; // Distancia desde la parte inferior
    right: 20px; // Distancia desde la parte izquierda
    background-color: #25D366; // Color verde de WhatsApp
    color: #fff; // Icono blanco
    width: 60px; // Tamaño del botón
    height: 60px; // Tamaño del botón
    border-radius: 50%; // Forma redonda
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; // Tamaño del icono
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000; // Asegura que esté por encima de otros elementos
    // transition: transform 0.3s ease;
}

.whatsapp-button:hover {
    //transform: scale(1.1); // Efecto de zoom al pasar el mouse
    background-color: #20c157; // Color más oscuro al pasar el mouse
}



.back-to-top {
    position: fixed;
    bottom: 110px; // Distancia desde la parte inferior
    right: 25px; // Distancia desde la parte derecha
    width: 50px;
    height: 50px;
    background-color: #F5A623; // Color elegante (puedes ajustarlo)
    color: #fff; // Color del ícono
    border: none;
    border-radius: 50%; // Forma redonda
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    opacity: 0; // Oculto inicialmente
    visibility: hidden; // No es interactivo inicialmente
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 1000; // Asegura que esté por encima de otros elementos
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); // Aparece suavemente
}

.back-to-top:hover {
    background-color: #d18b20; // Color más oscuro al pasar el mouse
}